{%- render 'cart-drawer' -%}
<!-- Votre code HTML existant pour la page produit -->

<!-- Bouton de retour -->
<a href="https://ellegancia.fr/collections/robes-lumineuses" class="retour-bouton"> ← Retour à la Collection</a>

<!-- Autres éléments de la page produit -->

<style>

}
.retour-bouton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.retour-bouton:hover {
    background-color: lightgray;
    color: Black;
}
    }
</style>