
  
  
      <style>
        @font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJTVBNI4.woff) format('woff');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myRJTVBNI4.woff) format('woff');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mxEIjVBNI4.woff) format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-484292718558708526 .-rotate-90,.gps-484292718558708526 .rotate-180,.gps-484292718558708526 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-484292718558708526 .focus\:\!shadow-none,.gps-484292718558708526 .hover\:\!shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-484292718558708526 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-484292718558708526 .pointer-events-none{pointer-events:none}.gps-484292718558708526 .pointer-events-auto{pointer-events:auto}.gps-484292718558708526 .invisible{visibility:hidden}.gps-484292718558708526 .fixed{position:fixed}.gps-484292718558708526 .absolute{position:absolute}.gps-484292718558708526 .relative{position:relative}.gps-484292718558708526 .top-\[27px\]{top:27px}.gps-484292718558708526 .z-1{z-index:1}.gps-484292718558708526 .z-100{z-index:100}.gps-484292718558708526 .mx-auto{margin-left:auto;margin-right:auto}.gps-484292718558708526 .mb-0{margin-bottom:0}.gps-484292718558708526 .block{display:block}.gps-484292718558708526 .inline-block{display:inline-block}.gps-484292718558708526 .flex{display:flex}.gps-484292718558708526 .inline-flex{display:inline-flex}.gps-484292718558708526 .grid{display:grid}.gps-484292718558708526 .hidden{display:none}.gps-484292718558708526 .\!h-auto{height:auto!important}.gps-484292718558708526 .h-5{height:20px}.gps-484292718558708526 .h-full{height:100%}.gps-484292718558708526 .w-5{width:20px}.gps-484292718558708526 .w-full{width:100%}.gps-484292718558708526 .max-w-full{max-width:100%}.gps-484292718558708526 .flex-none{flex:none}.gps-484292718558708526 .-rotate-90{--tw-rotate:-90deg}.gps-484292718558708526 .-rotate-90,.gps-484292718558708526 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-484292718558708526 .rotate-180{--tw-rotate:180deg}.gps-484292718558708526 .rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@keyframes spin{to{transform:rotate(1turn)}}.gps-484292718558708526 .animate-spin{animation:spin 1s linear infinite}.gps-484292718558708526 .cursor-pointer{cursor:pointer}.gps-484292718558708526 .flex-col{flex-direction:column}.gps-484292718558708526 .items-center{align-items:center}.gps-484292718558708526 .justify-start{justify-content:flex-start}.gps-484292718558708526 .justify-center{justify-content:center}.gps-484292718558708526 .gap-y-0{row-gap:0}.gps-484292718558708526 .overflow-hidden{overflow:hidden}.gps-484292718558708526 .overflow-clip{overflow:clip}.gps-484292718558708526 .break-words{overflow-wrap:break-word}.gps-484292718558708526 .rounded{border-radius:4px}.gps-484292718558708526 .rounded-none{border-radius:0}.gps-484292718558708526 .border{border-width:1px}.gps-484292718558708526 .\!bg-none{background-image:none!important}.gps-484292718558708526 .p-\[16px\]{padding:16px}.gps-484292718558708526 .align-middle{vertical-align:middle}.gps-484292718558708526 .text-\[14px\]{font-size:14px}.gps-484292718558708526 .leading-normal{line-height:1.5}.gps-484292718558708526 .text-g-text-1{color:var(--g-c-text-1)}.gps-484292718558708526 .text-g-text-3{color:var(--g-c-text-3)}.gps-484292718558708526 .no-underline{text-decoration-line:none}.gps-484292718558708526 .opacity-25{opacity:.25}.gps-484292718558708526 .opacity-75{opacity:.75}.gps-484292718558708526 .\!outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-484292718558708526 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484292718558708526 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484292718558708526 .duration-200{transition-duration:.2s}.gps-484292718558708526 .duration-300{transition-duration:.3s}.gps-484292718558708526 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484292718558708526 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-484292718558708526 .hover\:\!shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-484292718558708526 .focus\:\!shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-484292718558708526 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-484292718558708526 .disabled\:opacity-30:disabled{opacity:.3}.gps-484292718558708526 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-484292718558708526 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-484292718558708526 .tablet\:block{display:block}.gps-484292718558708526 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-484292718558708526 .mobile\:block{display:block}.gps-484292718558708526 .mobile\:hidden{display:none}}.gps-484292718558708526 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-484292718558708526 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-484292718558708526 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-484292718558708526 .\[\&_p\]\:inline p{display:inline}.gps-484292718558708526 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-484292718558708526 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-484292718558708526 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwfowZsYtk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:4px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwfowZsYtk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxO20a41fu relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2O5sD9ojH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:64px;--pl:64px;--pb:var(--g-s-3xl);--pr:64px;--mb-mobile:0px;--pt-mobile:56px;--pl-mobile:28px;--pb-mobile:var(--g-s-3xl);--pr-mobile:28px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F8F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2O5sD9ojH mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDXJ9RRzmZ relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)" class="gry4io1yyK ">
      
    <div
      parentTag="Col"
        class="gry4io1yyK "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:28px;--c:#3B3B3B;word-break:break-word"
        >
        <p>Frequently Asked Questions&nbsp;</p>
        </h2>
      </div>
    </div>
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pb:16px" class="gbVXyxbnWL ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:64px;--w-tablet:64px;--w-mobile:64px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#E6E9EB"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:64px;--w-tablet:64px;--w-mobile:64px;--bc:#E6E9EB;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:64px;--w-tablet:64px;--w-mobile:64px;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:64px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:64px;--w-tablet:64px;--w-mobile:64px;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:64px"
    ></div>
  
      </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)" class="gGolxDDWzP ">
      
    <gp-accordion
     uid="gGolxDDWzP"
      class="flex w-full flex-col "
      style="--gg:[object Object]"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gGolxDDWzP","childListNumber":[]},"styles":{"color":{"normal":"#3B3B3B"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#E6E9EB","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"16px"}}},"textColor":{"normal":"#3B3B3B"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":{},"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gGolxDDWzP"}'
    >
    <div class="hidden rotate-90 -rotate-90 rotate-180"></div>
    <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="0"
      class="gGolxDDWzP gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="0"
        class="gGolxDDWzP gp-accordion-item-gGolxDDWzP-0 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#3B3B3B;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB"
      >
       <style class="accordion-style">.gp-accordion-item-gGolxDDWzP-0:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="0"
            class="gGolxDDWzP gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Is this sweater fitted or more relaxed?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g2xU83JSGj"
        data-index="0"
        class="gGolxDDWzP gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="g5rOSBl5WW relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gEW5ZoduvS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Sorry, your question was submitted to a fellow consumer. I am therefore unable to answer your question.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="1"
      class="gGolxDDWzP gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="1"
        class="gGolxDDWzP gp-accordion-item-gGolxDDWzP-1 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#3B3B3B;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB"
      >
       <style class="accordion-style">.gp-accordion-item-gGolxDDWzP-1:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="1"
            class="gGolxDDWzP gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Will you be restocking the camel in xs anytime soon?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gtV8xiAM7c"
        data-index="1"
        class="gGolxDDWzP gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gGElHBneGi relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g0LVmAf9CS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Sorry, your question was submitted to a fellow consumer. I am therefore unable to answer your question.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="2"
      class="gGolxDDWzP gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="2"
        class="gGolxDDWzP gp-accordion-item-gGolxDDWzP-2 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#3B3B3B;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB"
      >
       <style class="accordion-style">.gp-accordion-item-gGolxDDWzP-2:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="2"
            class="gGolxDDWzP gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        What is the length of the medium? 
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gGLAJOUddz"
        data-index="2"
        class="gGolxDDWzP gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gfF1jCGixo relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gxAJBz8Nry "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Sorry, your question was submitted to a fellow consumer. I am therefore unable to answer your question.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="3"
      class="gGolxDDWzP gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="3"
        class="gGolxDDWzP gp-accordion-item-gGolxDDWzP-3 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#3B3B3B;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB"
      >
       <style class="accordion-style">.gp-accordion-item-gGolxDDWzP-3:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="3"
            class="gGolxDDWzP gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        What are the drying instructions?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gB0sqelS7T"
        data-index="3"
        class="gGolxDDWzP gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g7Qxj9bu4s relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gxHTfJhBxf "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Sorry, your question was submitted to a fellow consumer. I am therefore unable to answer your question.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="4"
      class="gGolxDDWzP gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="4"
        class="gGolxDDWzP gp-accordion-item-gGolxDDWzP-4 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#3B3B3B;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB"
      >
       <style class="accordion-style">.gp-accordion-item-gGolxDDWzP-4:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="4"
            class="gGolxDDWzP gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        What are the drying instructions?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gKEScUwZVK"
        data-index="4"
        class="gGolxDDWzP gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gAxusswao_ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnQq_ROE2D "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Sorry, your question was submitted to a fellow consumer. I am therefore unable to answer your question.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gi1fiC2yqD relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gdfHb7XGHE"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdfHb7XGHE mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geRgQANWg0 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFVq1TeSQQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFVq1TeSQQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjTOSnDJy6 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gyaAyuhHJW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:30px;--w-tablet:30px;--w-mobile:30px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/60952fd7-9914-4351-98bc-427c5ea3ae0a/-/format/auto/" data-srcset="https://ucarecdn.com/60952fd7-9914-4351-98bc-427c5ea3ae0a/-/format/auto/ 768w,https://ucarecdn.com/60952fd7-9914-4351-98bc-427c5ea3ae0a/-/format/auto/ 1024w,https://ucarecdn.com/60952fd7-9914-4351-98bc-427c5ea3ae0a/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--aspect-tablet:37/36;--aspect-mobile:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gNmnVf9xIc relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="ghA4MIVkDy "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:150%;--size:24px;--size-tablet:24px;--size-mobile:21px;--c:#3B3B3B;word-break:break-word"
        >
        <p>06 05 70 78 09</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gjdxvoqg_i "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Contact our hotline to have your questions answered immediately&nbsp;</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gRSwQEZE0j"
        style="--b:solid;--bc:#E6E9EB;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRSwQEZE0j mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNi_R0RTz5 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#E6E9EB;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l);--pl-tablet:0px;--pr-tablet:0px" class="gnK82WzMb9 ">
      
    
    <gp-form 
      id="gnK82WzMb9"
      style=""
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gnK82WzMb9"
        href="" target="_self"
      >
      </a>
      {% form 'contact', class: 'gp-form-gnK82WzMb9 ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gnK82WzMb9"
            class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gnK82WzMb9"
          class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
    <div
      parentTag="ContactForm"
        class="gmYKRYKcPc "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:500;--ls:0px;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#3B3B3B;word-break:break-word"
        >
        <p>Tell us your question</p>
        </div>
      </div>
    </div>
    <div
      parentTag="ContactForm"
        class="ghx_fD6DYD "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Email</p>
        </div>
      </div>
    </div>
    <div
      class="gYBR_A-qTi"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--pl:17px;--pr:17px;--pt:12px;--pb:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:#E6E9EB;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Enter Email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    <div
      parentTag="ContactForm"
        class="gVMb95IGRS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word"
        >
        <p>Tell me about...</p>
        </div>
      </div>
    </div>
    <div
      
      class=""
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
    >
      <input
        type="text"
        class="gp-form-item gK--ijXp-G text-g-text-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:17px;--pr:17px;--pt:12px;--pb:12px;--tt:default;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--b:solid;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Enter Here"
        {% if false %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gAnlR1lZja.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gAnlR1lZja:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
      
    }
  </style>
    <button
      type="submit" data-id="gAnlR1lZja" aria-label="Submit"
      data-state="idle"
      class="gAnlR1lZja gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#3B3B3B;--bg:#EC6448;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:12px;--pr:12px;--pt:6px;--pb:6px;--pl-tablet:12px;--pr-tablet:12px;--pt-tablet:6px;--pb-tablet:6px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:8px;--pb-mobile:8px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Jost, Jost);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Submit
      </span>
    </button>
  </div>
  
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-form.js" defer="defer"></script>
  
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-484292718558708526 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=484292718558708526&template_id=484288948651164462)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
