.image-with-text.container--full .image-with-text__grid:not(.image-with-text__grid--reverse) .image-with-text__text-item {
  padding-right: 5rem;
}

.image-with-text.container--full .image-with-text__grid.image-with-text__grid--reverse .image-with-text__text-item {
  padding-left: 5rem;
}

.image-with-text .grid {
	margin-bottom: 0;
}

.image-with-text .grid__item {
	position: relative;
}

.image-with-text__grid {
	gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
	.image-with-text__grid {
		justify-content: space-between;
	}

	.image-with-text__grid--reverse {
		flex-direction: row-reverse;
	}

	.image-with-text__grid {
		gap: var(--grid-desktop-horizontal-spacing);
	}
}

.image-with-text__media {
	min-height: 100%;
	overflow: visible;
}

.image-with-text__icons--grid {
  width: 100%;
}

#drag::before {
	border: none;
	background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Calque_1' data-name='Calque 1' viewBox='0 0 60 60'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23283618;%7D.cls-2%7Bfill:%23fefae0;stroke:%23fefae0;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Group_260' data-name='Group 260'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' class='cls-1' cx='30' cy='30' r='30'/%3E%3Cg id='Group_261' data-name='Group 261'%3E%3Cpath id='down-chevron' class='cls-2' d='M20.3,37l-5.7-5.7,5.7-5.7-.7-.7-6.3,6.4,6.3,6.4Z'/%3E%3Cpath id='down-chevron-2' class='cls-2' d='M40.3,25.6,46,31.3,40.3,37l.7.7,6.3-6.4L41,24.9Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
}

.image-with-text__media--small {
	height: 19.4rem;
}

.image-with-text__media--medium {
	height: 29.6rem;
}

.image-with-text__media--large {
	height: 43.5rem;
}

.image-with-text__media-desktop {
  display: none;
}

.image-with-text__media-mobile {
  display: block;
}

@media screen and (min-width: 750px) {
    .image-with-text__media-desktop {
      display: block;
    }

    .image-with-text__media-mobile {
      display: none;
    }
  
	.image-with-text__media--small {
		height: 31.4rem;
	}

	.image-with-text__media--medium {
		height: 46rem;
	}

	.image-with-text__media--large {
		height: 69.5rem;
	}
}

.image-with-text__media--placeholder {
	position: relative;
	overflow: hidden;
}

.image-with-text__media--placeholder:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(var(--color-foreground), 0.04);
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
	height: 20rem;
}

@media screen and (min-width: 750px) {
	.image-with-text__media--placeholder.image-with-text__media--adapt {
		height: 30rem;
	}
}

.image-with-text__media--placeholder>svg {
	position: absolute;
	left: 50%;
	max-width: 80rem;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	fill: currentColor;
}

.image-with-text__content {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-self: center;
	position: relative;
	z-index: 1;
}

.image-with-text__bold-heading strong {
  color: rgb(var(--color-foreground));
}

.image-with-text__bold-text strong {
  color: rgb(var(--color-foreground-secondary));
}

.image-with-text__bold-accent-1 strong {
  color: rgb(var(--color-accent-1));
}

.image-with-text__bold-accent-2 strong {
  color: rgb(var(--color-accent-2));
}

.image-with-text__content:not(.no_image) {
	padding: var(--grid-mobile-vertical-spacing) 0 0 0;
}

.image-with-text__content.no_image .collapsible__wrapper {
	margin-top: 0;
}

.image-with-text .image-with-text__media-item>* {
	border-radius: var(--media-container-radius);
	overflow: hidden;
}

.image-with-text .global-media-settings {
	box-shadow: var(--media-container-shadow);
	overflow: hidden !important;
}

.image-with-text .content-container {
	box-shadow: var(--content-container-shadow);
	background-color: rgb(var(--color-background-secondary));
    padding: var(--grid-mobile-vertical-spacing) var(--grid-mobile-horizontal-spacing);
}

.image-with-text__content--mobile-right>* {
	align-self: flex-end;
	text-align: right;
}

.image-with-text__content--mobile-center>* {
	align-self: center;
	text-align: center;
}

@media screen and (max-width: 749px) {
	.image-with-text__content--mobile-center .heading::after {
		left: 50%;
		transform: translateX(-50%);
	}
}

.image-with-text--overlap .image-with-text__content {
	width: 90%;
	margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
	.image-with-text__content:not(.no_image) {
		padding: 0 0 0 var(--grid-desktop-horizontal-spacing);
	}

	.image-with-text__grid--reverse .image-with-text__content {
		padding: 0 var(--grid-desktop-horizontal-spacing) 0 0;
	}

    .image-with-text .content-container {
        padding: var(--grid-desktop-vertical-spacing) var(--grid-desktop-horizontal-spacing);
    }

	.image-with-text__media-item--small .image-with-text__text-item,
	.image-with-text__media-item--large .image-with-text__media-item {
		width: calc(66.67% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
		max-width: calc(66.67% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
	}

	.image-with-text__media-item--large .image-with-text__text-item,
	.image-with-text__media-item--small .image-with-text__media-item {
		width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
		max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
	}

	.image-with-text__grid--reverse .image-with-text__content {
		margin-left: auto;
	}

	.image-with-text__content--bottom {
		justify-content: flex-end;
		align-self: flex-end;
	}

	.image-with-text__content--top {
		justify-content: flex-start;
		align-self: flex-start;
	}

	.image-with-text__content--desktop-right>* {
		align-self: flex-end;
		text-align: right;
	}

	.image-with-text__content--desktop-left>* {
		align-self: flex-start;
		text-align: left;
	}

    .image-with-text__content--desktop-left .button__container {
		align-items: stretch;
	}

	.image-with-text__content--desktop-center>* {
		align-self: center;
		text-align: center;
	}

	.image-with-text__content--desktop-center .heading::after {
		left: 50%;
		transform: translateX(-50%);
	}

	.image-with-text--overlap .image-with-text__text-item {
		display: flex;
		padding: 3rem 0;
	}

	.image-with-text--overlap .image-with-text__content {
		height: auto;
		width: calc(100% + 4rem);
		min-width: calc(100% + 4rem);
		margin-top: 0;
		margin-left: -4rem;
	}

	.image-with-text--overlap .image-with-text__grid--reverse .image-with-text__content {
		margin-left: 0;
		margin-right: -4rem;
	}

	.image-with-text--overlap .image-with-text__grid--reverse .image-with-text__text-item {
		justify-content: flex-end;
	}

	.image-with-text--overlap .image-with-text__media-item--top {
		align-self: flex-start;
	}

	.image-with-text--overlap .image-with-text__media-item--middle {
		align-self: center;
	}

	.image-with-text--overlap .image-with-text__media-item--bottom {
		align-self: flex-end;
	}
}

.image-with-text__content>*+* {
	margin-top: 2rem;
}

.image-with-text__content>.image-with-text__text:empty~a {
	margin-top: 2rem;
}

.image-with-text__content> :first-child:is(.image-with-text__heading) {
	margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading) {
	margin-bottom: 0;
}

.image-with-text__content .button+.image-with-text__text {
	margin-top: 2rem;
}

.image-with-text__content .image-with-text__text+.button {
	margin-top: 3rem;
}

.image-with-text__heading {
	margin-bottom: 0;
}

.image-with-text__text p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
	.image-with-text .grid {
		margin-left: 0;
	}
}