.marquee__wrapper {
  min-height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.marquee__text {
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}