.video-section__media {
	position: relative;
	padding-bottom: 56.25%;
}

.video .heading__section {
	margin-bottom: 3rem;
}

.video video {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.video-section__media.deferred-media {
	box-shadow: var(--media-shadow-horizontal-offset)
		var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
		rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
	content: none;
}

.video-section__poster.deferred-media__poster:focus {
	outline-offset: 0.3rem;
}

.video-section__media iframe {
	background-color: rgba(var(--color-foreground), 0.03);
	border: 0;
}

.video-section__poster,
.video-section__media iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}
